#menu {
    font-weight: bold;
    background-color: black;
}

#lista {
    background-color: black;
}

.navbar-nav .nav-link {
    color: white;
    transition: color 0.5s;
}

.navbar-nav .nav-link:hover {
    color: rgb(56, 68, 230);
}

.dropdown-menu a.dropdown-item {
    color: aliceblue;
    transition: color 0.3s;
}

.dropdown-menu a.dropdown-item:hover {
    background-color: rgb(11, 11, 11);
    color: rgb(56, 68, 230);
}

.nav-item a {
    text-decoration: none;
    color: aliceblue;
}

body {
    background-color: #1e1e1e;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#nosotros,
#resumen,
#integrantes {
    background-color: #343a40; 
    padding: 20px; 
    border-radius: 10px; 
}

.card-body a {
    text-decoration: none;
    color: aliceblue;
    transition: color 0.5s;
}

.card-body a:hover {
    color: green;
}

.integrante {
    margin-bottom: 20px;
}

    